.user-icon{
    position: absolute;
    
}

#icon1{
    height: 15px;
    width: 15px;
    text-align: center;
    padding: 10px 10px;
}

input{
    height: 35px;
    width: 300px;
    padding-left: 30px;
    
}