form{
    position: relative;
    text-align: center;
}

header{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

div{
    text-align: center;
}

#path{

    position: relative;
    text-align-last: left;
    border: 1px groove rgb(216, 207, 207, 0.2);
    border-radius: 7px;
    border-left-color: rgb(221, 151, 221);
    border-left-width: 3px;
    background-color: rgb(232, 243, 247);
    color: rgb(6, 13, 53);
    box-shadow: 5px 10px rgba(22, 20, 20, 0.158);
    
    
}

#comments{
    position: relative;
    text-align-last: left;
    border: 1px groove rgb(216, 207, 207, 0.2);
    border-radius: 7px;
    border-left-color: rgb(221, 151, 221);
    border-left-width: 3px;
    background-color: rgb(232, 243, 247);
    color: rgb(6, 13, 53);
    box-shadow: 5px 10px rgba(22, 20, 20, 0.158);
}

#inputs{
    position: relative;
    text-align-last: left;
    border: 1px groove rgb(216, 207, 207, 0.2);
    border-radius: 7px;
    border-left-color: rgb(221, 151, 221);
    border-left-width: 3px;
    background-color: rgb(232, 243, 247);
    color: rgb(6, 13, 53);
    box-shadow: 5px 10px rgba(22, 20, 20, 0.158);
    padding-bottom: 2px;
}

body{
    background-color: rgba(195, 213, 219, 0.986);
    
    
}

#container{
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
}

#textarea{
    border-radius: 5px;
}

#container-survay{
    padding: 50px;
    margin-top: 20px;
    background-color: rgba(105, 105, 105, 0.212);

}