@import './base/reset';
<<<<<<< HEAD
@import './abstracts/mixins', './abstracts/variables';
=======
@import './abstracts/mixin', './abstracts/variables';
>>>>>>> 4d3306dd3da59153286701747812bcda4cbd1e43
@import './components/footer', './components/nav', './components/responsive';
@import './pages/about', './pages/home', './pages/contact', './pages/project';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body{
    color: $text-color;
    background-color: $primary-color;
    height: 100vh;
    font-family: $font-family;
    line-height: 1;
}

a{
    text-decoration: none;
    height: 50px;
    color: $text-color;
}